.skills {
    text-align: left;
    padding: 75px;
}

.skills__heading {
    font-weight: 700;
    font-size: 49px;
    line-height: 74px;
    color: #5E3AEE;
    margin: 0 0 57px 0;
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    gap: 38px 100px;
    padding: 0;
}

.skills__skill {
    font-size: 24px;
    line-height: 36px;
}

@media (max-width: 1279px) {
    .skills {
        padding: 50px;
    }

    .skills__heading {
        font-size: 40px;
        line-height: 50px;
    }

    .skills__list {
        gap: 30px 50px;
    }

    .skills__skill {
        font-size: 23px;
        line-height: 32px;
    }
}

@media (max-width: 767px) {
    
    .skills {
        padding: 25px;
    }

    .skills__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 30px;
    }

    .skills__heading {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .skills__skill {
        font-size: 14px;
        line-height: 21px;
    }
}

