.navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navigation__item {
    margin-left: 37px;    
}

.navigation__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    line-height: 50px;
    color: #000;
    transition: color 0.3s linear;
}

.navigation__link:hover {
    color: #696969;
}

.navigation__link_active {
    color: #5E3AEE;
}
