@import '../../scss/variables.scss';

.header {
    padding: 5px 75px 5px 75px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 3px solid #F0F0F5;
    background-color: $background-color;
    @media (max-width: 1279px) {
        position: relative;
    }
}